.idea/workspace.xml
.idea/uiDesigner.xml
.idea/xylixlike.iml
.idea/misc.xml

# Java class files
*.class

xylixlike/gradle
xylixlike/.gradle
xylixlike/gradle.properties
xylixlike/build/
xylixlike/out

.DS_Store
lib/
